*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  display:flex;
  align-items: center;
  justify-content: center;
 
  width:100%;
  height: 100vh;
}

.App {
  display: flex;
  background-color: #282c34;
  color: white;
  flex-wrap: wrap;
  width: 80vh;
  height: 80vh;
}

.card{
  flex-basis:25%;
  height: 25%;
  border: 3px solid #ffff

}
.red{
  background-color: red;
}
.brown{
  background-color: brown;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.orangered{
  background-color: orangered;
}
.violet{
  background-color: violet;
}
.steelblue{
  background-color: steelblue;
}

.hidden{
  background-color: black;
}
.off{
  background-color: #777;
}
